

<div fxLayout="row wrap">

<div fxFlex="25%"  *ngFor="let hero of data">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{hero.source.name}}</mat-card-title>
      <mat-card-subtitle>{{hero.source.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ hero.urlToImage }}" alt="Photo of a Shiba Inu"> 
    <mat-card-content>
      {{hero.content  }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> {{hero.publishedAt | date}}</button>
      <!-- <button mat-button >{{hero.url}}</button> -->
      <button mat-button color="accent">Read</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
